  <div class="blog-post-comments">
      <script
        data-isso="{{ .Site.Params.isso.data }}"
        data-isso-id="{{ .Site.Params.isso.id}}"
        data-isso-css="{{ .Site.Params.isso.css }}"
        data-isso-lang="{{ .Site.Params.isso.lang }}"
        data-isso-avatar="{{ .Site.Params.isso.avatar }}"
        data-isso-avatar-bg="{{ .Site.Params.isso.avatarBg }}"
        src="/comments/js/embed.min.js">
      </script>
      <noscript>Please enable JavaScript to view the comments powered by <a href="https://posativ.org/isso/">Isso</a>.</noscript>
      <div>
        <section id="isso-thread"></section>
      </div>
  </div>
